body{
    background-color: #333;
    color: antiquewhite;
    font-family: "Roboto", sans-serif;
    padding: 60px;
}

.flex{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tt2a {
    text-decoration: none;
    color: antiquewhite;
    transition: border-bottom 400ms ease;
}

.tt2a:hover {
    border-bottom: 2px solid antiquewhite;
}

.bordereddiv{
    border: 1px solid #fcffaa;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

.gLs{
    color: ivory;
    text-decoration: none;
}

.gLs:hover{
    color: ivory;
    text-decoration: underline;
}

.repackS{
    padding-left: 30px;
    list-style-type: none;
}